{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <h1 class="mt-4">{{ animal.name }}</h1>
                <h4>ID:</h4> {{ animal.animal_id }}
                <h4>Species:</h4> {{ animal.species }}
                <h4>Breed:</h4> {{ animal.breed }}
                <h4>Description:</h4> {{ animal.description }}

                {% include "timetable.html" %}

                <h2 class="mt-4">Tasks for animal</h2>
                <table class="table" style="width: auto;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Detail</th>
                            <th>Planned time</th>
                            <th>Assigned veterinarian (ID)</th>
                            <th>Done</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr class="{% if task.is_done %} table-success {% else %} table-danger {% endif %}">
                                <td>{{ task.task_id }}</td>
                                <td>{{ task.detail }}</td>
                                <td>
                                    {% if task.reservation %}
                                        {{ task.reservation.start_time.date }} ({{ task.reservation.start_time.time }}-{{ task.reservation.end_time.time }})
                                    {% else %}
                                        Not booked yet
                                    {% endif %}
                                </td>
                                <td>
                                    {{ task.veterinarian.first_name }}
                                    {{ task.veterinarian.last_name }}
                                    ({{ task.veterinarian.user_id }})
                                </td>
                                <td>{{ task.is_done }}</td>
                                <td>
                                    <a href="{% url 'deletevettask' task.task_id %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">New task</h3>
                        <form method="POST" action="{% url 'animalvettasks' animal.animal_id %}">
                            <!-- Django requires this token for enhanced security -->
                            {% csrf_token %}
                            <!-- Render form -->
                            {{ animal_task_form.as_p }}
                            {{ book_animal_form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block extra_js %}
        <script>
            // timeslot has a scale of 1h
            function reset_minutes(e) {
                let hour = e.target.value.split(":")[0];
                e.target.value = `${hour}:00`;
            }

            // Avoid user to select past date for walk(s)
            document.addEventListener("DOMContentLoaded", function() {
                var today = new Date().toISOString().split("T")[0];
                document.getElementById("date_input").setAttribute("min", today);
            });

            document.getElementById("start_time").addEventListener("input", reset_minutes);
            document.getElementById("end_time").addEventListener("input", reset_minutes);
        </script>
    {% endblock extra_js %}

{% endblock %}
