{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Animal details -->
            <div class="col-md-3">
                <div class="sticky-top">
                    <h1 class="mt-4">{{ animal.name }}</h1>
                    <h4>Specie:</h4> {{ animal.species }}
                    <h4>Breed:</h4> {{ animal.breed }}
                    <h4>Gender:</h4>
                        {% if animal.gender == 0 %}
                            Male
                        {% else %}
                            Female
                        {% endif %}
                    <h4>Birth date:</h4>
                        {% if animal.birth_date %}
                            {{ animal.birth_date }}
                        {% else %}
                            Unknown
                        {% endif %}
                    <h4>Arrival date:</h4> {{ animal.arrival_date }}
                    <h4>Description:</h4> {{ animal.description }}
                </div>
            </div>
            <!-- Animal images -->
            <div class="col">
                <div class="d-flex flex-row flex-wrap">
                    {% if animal and animal.photos.exists %}
                        {% for photo in animal.photos.all %}
                            {% if photo.image %}
                                <img src="{{ photo.image.url }}" class="img-fluid" style="width: 50%; height: auto;">
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <img src="/media/generic_animal.png" class="img-fluid" style="width: 50%; height: auto;"/>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
            <h1 class="mt-4">
                Current bookings for {{ animal.name }}:
                {% if not timetable %}
                    <b>None</b>
                {% endif %}
            </h1>
            <br>
            <div class="row">
                {% if user.userRole == "volunteer" %}
                    <!-- Reservation form -->
                    <div class="col-md-3">
                        <div class="sticky-top">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title text-center">Book Animal</h3>
                                    <form method="POST">
                                        <!-- Django requires this token for enhanced security -->
                                        {% csrf_token %}
                                        <!-- Render form -->
                                        {{ form.as_p }}
                                        <button type="submit" name="submit" class="btn btn-primary btn-block">Request walk</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif not user.is_authenticated %}
                    <br>
                    <br>
                    <label>
                        Want to take me for a walk? <button><a href="/register">Register</a></button> as volunteer, get verified and let's meet!
                    </label>
                {% endif %}
                <!-- Timetable -->
                {% if timetable %}
                    <div class="col-md-9">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    {% for hour in timetable.hours %}
                                        <th>{{ hour }}:00-{{ hour|add:1 }}:00</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for day, hours in timetable.days.items %}
                                    <tr>
                                        <td>{{ day }}</td>
                                        {% for hour_state in hours %}
                                            <td style="background-color: {% if hour_state == 'confirmed' %} red {% elif hour_state == 'pending' %} orange {% else %} green {% endif %};">
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
    </div>

    {% block extra_js %}
        <script>
            // timeslot has a scale of 1h
            function reset_minutes(e) {
                let hour = e.target.value.split(":")[0];
                e.target.value = `${hour}:00`;
            }

            // Avoid user to select past date for walk(s)
            document.addEventListener("DOMContentLoaded", function() {
                var today = new Date().toISOString().split("T")[0];
                document.getElementById("date_input").setAttribute("min", today);
            });

            document.getElementById("start_time").addEventListener("input", reset_minutes);
            document.getElementById("end_time").addEventListener("input", reset_minutes);
        </script>
    {% endblock extra_js %}

{% endblock %}
