{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Animal form</h3>
                    <form method="POST" enctype="multipart/form-data">
                        <!-- Django requires this token for enhanced security -->
                        {% csrf_token %}
                        <!-- Render form -->
                        {{ form.as_p }}
                        {{ formset.management_form }}
                            {% for form in formset %}
                                {{ form.image }}
                        {% endfor %}
                        <br><br>
                        <div style="display: flex; gap: 5px;">
                            <button type="submit" class="btn btn-primary btn-block" name="action" value="upload" onclick="handleSubmit(event)">Upload Image</button>
                            <button type="submit" class="btn btn-primary btn-block" name="action" value="save">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if animal and animal.photos.exists %}
        <div class="container">
            <div class="row" style="gap: 20px;">
                <h2>Current Photos:</h2>
                {% for photo in animal.photos.all %}
                    {% if photo.image %}
                        <div>
                            <img src="{{ photo.image.url }}" style="width: 200px; height: 180;">
                            <form method="POST" action="{% url 'deleteimage' photo.image_id %}">
                                <!-- Render form -->
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-block">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% block extra_js %}
        <script>
            function handleSubmit(event) {
                var action = event.target.value;
                var fileInput = document.getElementById('id_photos-0-image');
                // If no images given, prevent the form from submitting
                if (action === 'upload' && fileInput.files.length === 0)
                    event.preventDefault();
            }
        </script>
    {% endblock extra_js %}
{% endblock %}
