{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Add animal</h3>
                    <form method="post" enctype="multipart/form-data">
                        <!-- Django requires this token for enhanced security -->
                        {% csrf_token %}
                        <!-- Render form -->
                        {{ form.as_p }}
                        <h2>Photos</h2>
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {{ form.image }}
                        {% endfor %}
                        </br></br>
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
