{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Edit user</h3>
                    <form method="POST">
                        <!-- Django requires this token for enhanced security -->
                        {% csrf_token %}
                        <!-- Display form errors -->
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Errors in Your form :-(
                            {% for field in form %}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            {% endfor %}
                            <!-- Dismiss button -->
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <!-- Render form -->
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
