{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 style="text-align: center; margin-top: 1em;">
                Animal Shelter at VUT FIT
            </h1>
            <!-- Search bar -->
            <div class="col-md-5" style="margin-top: 1em; margin-bottom: 2em;">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search animal" aria-label="Search" name="query" value="{{ request.GET.query }}">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
        <!-- Add animal button for carer -->
        {% if user.userRole == "carer" %}
            <a href="{% url 'createanimal' %}">
                <button class="btn btn-primary position-relative top-0 start-50 translate-middle">Add animal</button>
            </a>
        {% endif %}
        <!-- Main content container -->
        <div class="container-fluid">
            <!-- Setup grid for cards -->
            <div class="row">
                {% for animal in animals %}
                    <div class="col mb-3">
                        <div class="card" style="width: 20em; height: 20em;">
                            <!-- For card, show only first picture of animal -->
                            {% if animal.photos.exists %}
                                <img src="{{ animal.photos.first.image.url }}" class="card-img-top" style="width: 100%; height: 50%; object-fit: cover;"/>
                            {% else %}
                                <img src="media/generic_animal.png" class="card-img-top" style="width: 100%; height: 50%; object-fit: cover;"/>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ animal.name }}</h5>
                                <p class="card-text">{{ animal.description }}</p>
                                <!-- Display cards buttons -->
                                <div style="display: flex; gap: 5px; position: absolute; bottom: 10px; right: 10px;">
                                    {% if user.userRole == "carer" %}
                                        <a href="{% url 'editanimal' animal.animal_id %}" class="btn btn-primary">Edit</a>
                                        <a href="{% url 'deleteanimal' animal.animal_id %}" class="btn btn-primary">Delete</a>
                                    {% endif %}
                                    <a href="{% url 'bookanimal' animal.animal_id %}" class="btn btn-primary">Take me for a walk!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
