{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
            <!-- If user is logged in, dont show login form and vice versa-->
            {% if not user.is_authenticated %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login</h3>
                        <form method="POST" action="{% url 'login' %}">
                            <!-- Django requires this token for enhanced security -->
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Enter Your username" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Enter Your password" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                            <br>
                            <br>
                            <label>
                                Don't have an account yet?
                                <button><a href="/register">Register</a></button>
                            </label>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
