<!--
    Default navigation bar available on all system pages
-->
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'FITlogo.png' %}" style="height: 30px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                        Home
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {% if user.userRole == "vet" %}
                        <li class="nav-item me-2">
                            <a class="nav-link active" aria-current="page" href="{% url 'animalslist' %}">
                                Medical records
                            </a>
                        </li>
                    {% endif %}
                    {% if user.userRole == "admin" %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage users
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'createuser' %}">
                                        Add new user
                                    </a>
                                </li>
                                <hr class="dropdown-divider">
                                <li>
                                    <a class="dropdown-item" href="{% url 'deleteuser' %}">
                                        Delete user
                                    </a>
                                </li>
                                <hr class="dropdown-divider">
                                <li>
                                    <a class="dropdown-item" href="{% url 'edituser' %}">
                                        Edit user
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item me-2">
                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                            Logout
                        </a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link dropdown-toggle" role="button" onclick="toggleUserDetails()" aria-expanded="false" aria-current="page" style="color: #FF0028;">
                            {{ user.userName }} ({{ user.userRole }})
                        </a>
                        <div class="dropdown-content" id="userDetails" style="display: none;">
                                <div class="card">
                                    <div class="card-body">
                                        <form method="POST" action="{% url 'userdetails' %}">
                                            <!-- Django requires this token for enhanced security -->
                                            {% csrf_token %}
                                            <!-- Render form -->
                                            {{ userdetails_form.as_p }}
                                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'register' %}">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% block extra_js %}
        <script>
            function toggleUserDetails() {
                // Get user details element
                userdetails = document.getElementById("userDetails");
                // Reverse it;s current visibility
                if (userdetails.style.display === "none")
                    userdetails.style.display = "block";
                else
                    userdetails.style.display = "none";
            }
        </script>
    {% endblock extra_js %}
</nav>
