{% if timetable %}
	<div class="col-md-9">
		<h1 class="mt-4">
			Current bookings for {{ timetable.animal.name }}:
			{% if timetable.days|length == 0 %}
				<b>None</b>
			{% endif %}
		</h1>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Day</th>
					{% for hour in timetable.hours %}
						<th>{{ hour }}:00-{{ hour|add:1 }}:00</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for day, hours in timetable.days.items %}
					<tr>
						<td>{{ day }}</td>
						{% for hour_state in hours %}
							<td style="background-color: {% if hour_state == 'approved' %} red {% elif hour_state == 'pending' %} orange {% elif hour_state == 'available'%} green {% else %} gray {% endif %};">
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- Legend -->
		<div class="mt-4">
			<ul class="list-unstyled">
				<li><span class="badge bg-success">&nbsp;&nbsp;</span> Free for volunteer walks</li>
				<li><span class="badge bg-warning">&nbsp;&nbsp;</span> Requested, not confirmed</li>
				<li><span class="badge bg-danger">&nbsp;&nbsp;</span> Confirmed, booked</li>
			</ul>
		</div>
	</div>
{% endif %}