{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="card-title text-center mt-3 mb-3">Requested walks</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Animal</th>
                            <th>Specie</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for walk in walks %}
                            <tr class="position-relative">
                                <td>
                                    {{ walk.walk_id.animal_id.name }}
                                    <!-- Make whole card clickable -->
                                    <a href="{% url 'bookanimal' walk.walk_id.animal_id.animal_id %}" class="stretched-link"></a>
                                </td>
                                <td>{{ walk.walk_id.animal_id.species }}</td>
                                <td>{{ walk.walk_id.start_time.date }}</td>
                                <td>{{ walk.walk_id.start_time.time }}-{{ walk.walk_id.end_time.time }}</td>
                                <td>{{ walk.confirmation }}</td>
                                <td class="position-relative" style="z-index: 2;">
                                {% if user.userRole == "carer" %}
                                    {% if walk.confirmation == "pending" %}
                                        <a href="{% url 'walk_change_confirmation' walk.walk_id.reservationID 'approved' %}" class="btn btn-primary">Approve</a>
                                        <a href="{% url 'walk_change_confirmation' walk.walk_id.reservationID 'declined' %}" class="btn btn-primary">Decline</a>
                                    {% elif walk.confirmation == "approved" %}
                                        <a href="{% url 'walk_change_confirmation' walk.walk_id.reservationID 'pending' %}" class="btn btn-primary">Unapprove</a>
                                    {% elif walk.confirmation == "declined" %}
                                        <a href="{% url 'walk_change_confirmation' walk.walk_id.reservationID 'pending' %}" class="btn btn-primary">Undecline</a>
                                    {% endif %}
                                {% elif user.userRole == "volunteer" %}
                                    <a href="{% url 'walk_delete' walk.walk_id.reservationID %}" class="btn btn-primary">Cancel</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
